# Express Backend API Configuration
PORT=3000
JWT_SECRET=SUPER_SECRET_POLITIC_KEY_2026_CHANGE_ME

# Database Config
DB_HOST=localhost
DB_PORT=5440
DB_USERNAME=politic_user
DB_PASSWORD=politic_password
DB_DATABASE=politic_db

# Redis Config
REDIS_URL=redis://localhost:6379

# Game settings
IS_BORDER_FROZEN=false
